.PaperImage {
    height: 500px;
    position: relative;
    background-color: gray;
    color: #fff;
    margin-bottom: 4px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(../../img/kyotoImage.jpg);
    border-radius: 15px;
}